* {
  box-sizing: border-box;
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Zen;
  src: url(../fonts/ZenAntiqueSoft-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Fruktur-Regular;
  src: url(../fonts/Fruktur-Regular.ttf);
}

@font-face {
  font-family: BirthstoneBounce-Regular;
  src: url(../fonts/BirthstoneBounce-Regular.ttf);
}

/*To remove default inline behaviour of all images and videos*/
img,
video {
  display: block;
}

span {
  background-color: #fdde8a;
}

.fa-pinterest {
  color: crimson;
}

.header a,
.header-handheld a,
.content a,
.footer a {
  text-decoration: none;
}

.header > a:visited,
.header-handheld > a:visited,
.content > a:visited,
.footer > a:visited {
  color: black;
}

body {
  position: relative;
}

.container {
  display: grid;
  margin: 0;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background: no-repeat center/90% url(../images/background.xcf),
    url(../images/background.png);
  justify-content: center;
}

/*Header CSS */
.header {
  height: 4.4rem;
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  margin: 2rem 3rem 1rem;
}

.header-start {
  margin-right: auto;
}

.header-middle {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  margin-left: 4%;
}

.header-end {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.emoji {
  transform-origin: center bottom;
  animation: emoji-move 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.emoji:hover {
  animation: none;
  transform: scale(2);
}

@keyframes emoji-move {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.txt-aurora {
  font-family: cursive;
  color: #fdde8a;
  font-size: large;
}

.btn-home,
.btn-work,
.btn-about {
  color: black;
  margin-right: 0.5rem;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 0.2rem;
  background-color: #fdde8a;
  font: 0.9rem "Fira Sans", sans-serif;
  transition: background-color 1s;
  font-family: Roboto-Medium;
}

.btn-home:focus,
.btn-work:focus,
.btn-about:focus {
  border: 0.0625rem solid #dd5350;
}

.btn-home:hover,
.btn-work:hover,
.btn-about:hover {
  background-color: #dd5350;
  color: white;
}

.fa-facebook {
  color: #4267b2;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  background-clip: content-box;
}

.fa-instagram {
  padding: 0.5rem;
}

.fa-twitter {
  color: #1da1f2;
  padding: 0.5rem;
}

.btn-insta .fab {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-fb:hover .fa-facebook,
.btn-insta:hover .fa-instagram,
.btn-twit:hover .fa-twitter {
  transform: scale(2);
}

/*Main content CSS*/
.content {
  grid-column: 1/ -1;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
  border-bottom: solid #dd5350;
}

.div-intro-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60rem;
}

.vlarge-text {
  font-size: 4rem;
  font-family: Zen;
}

.large-text {
  font-size: 1.5rem;
  font-family: Roboto-Regular;
}

.small-text {
  font-family: Roboto-Regular;
  color: white;
  font-size: 1.03rem;
}

.btn-contactus {
  color: white;
  background-color: #dd5350;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.2rem;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-contactus:visited {
  color: white;
}

.btn-contactus:hover {
  background-color: #7c8453;
}

.work {
  grid-column: 1/ -1;
  margin: 0 2rem;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.carousel {
  grid-column: 1/ -1;
  justify-self: center;
  width: 100%;
  height: 30rem;
  position: relative;
}

@keyframes carousel-animate1 {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 0;
    display: none;
  }
  40% {
    opacity: 0;
    display: none;
  }
  60% {
    opacity: 0;
    display: none;
  }
  80% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes carousel-animate2 {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 0;
    display: none;
  }
  60% {
    opacity: 0;
    display: none;
  }
  80% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes carousel-animate3 {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 0;
    display: none;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0;
    display: none;
  }
  80% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes carousel-animate4 {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 0;
    display: none;
  }
  40% {
    opacity: 0;
    display: none;
  }
  60% {
    opacity: 1;
    display: block;
  }
  80% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes carousel-animate5 {
  0% {
    opacity: 0;
    display: none;
  }
  20% {
    opacity: 0;
    display: none;
  }
  40% {
    opacity: 0;
    display: none;
  }
  60% {
    opacity: 0;
    display: none;
  }
  80% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#carouselImage1,
#carouselImage2,
#carouselImage3,
#carouselImage4,
#carouselImage5 {
  position: absolute;
  opacity: 0;
  left: 25%;
  top: 25%;
}

/*
#radio1:checked ~ .left-arrow {
  opacity: 0;
}

#radio1:checked ~ #carouselImage1 {
  opacity: 1;
}

#radio2:checked ~ #carouselImage2 {
  opacity: 1;
}

#radio3:checked ~ #carouselImage3 {
  opacity: 1;
}

#radio4:checked ~ #carouselImage4 {
  opacity: 1;
}

#radio5:checked ~ #carouselImage5 {
  opacity: 1;
}

#radio2:checked ~ .left-arrow {
  opacity: 1;
}*/

#carouselImage1 {
  animation: 50s linear 4s infinite running carousel-animate1;
}

#carouselImage2 {
  animation: 50s linear 4s infinite running carousel-animate2;
}

#carouselImage3 {
  animation: 50s linear 4s infinite running carousel-animate3;
}

#carouselImage4 {
  animation: 50s linear 4s infinite running carousel-animate4;
}

#carouselImage5 {
  animation: 50s linear 4s infinite running carousel-animate5;
}

#radio1 {
  color: transparent;
  position: absolute;
  top: 94%;
  left: 45%;
  vertical-align: bottom;
  /*animation: animate-dot1 50s linear 0s infinite;*/
}

#radio2 {
  position: absolute;
  top: 94%;
  left: 47%;
  vertical-align: bottom;
  /*animation: animate-dot2 50s linear 0s infinite;*/
}

#radio3 {
  position: absolute;
  top: 94%;
  left: 49%;
  vertical-align: bottom;
  /* animation: animate-dot3 50s linear 0s infinite;*/
}

#radio4 {
  position: absolute;
  top: 94%;
  left: 51%;
  vertical-align: bottom;
  /*animation: animate-dot4 50s linear 0s infinite;*/
}

#radio5 {
  position: absolute;
  top: 94%;
  left: 53%;
  vertical-align: bottom;
  /*animation: animate-dot5 50s linear 0s infinite;*/
}

.fa-arrow-alt-circle-left {
  position: absolute;
  margin-left: 25%;
  margin-top: 16%;
}

.fa-arrow-alt-circle-right {
  position: absolute;
  margin-left: 72.5%;
  margin-top: 16%;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  color: white;
}

@keyframes animate-dot1 {
  0% {
    checked: true;
  }
  20% {
    checked: false;
  }
  40% {
    checked: false;
  }
  60% {
    checked: false;
  }
  80% {
    checked: false;
  }
  100% {
    checked: true;
  }
}

@keyframes animate-dot2 {
  0% {
    checked: false;
  }
  20% {
    checked: true;
  }
  40% {
    checked: false;
  }
  60% {
    checked: false;
  }
  80% {
    checked: false;
  }
  100% {
    checked: false;
  }
}

@keyframes animate-dot3 {
  0% {
    checked: false;
  }
  20% {
    checked: false;
  }
  40% {
    checked: true;
  }
  60% {
    checked: false;
  }
  80% {
    checked: false;
  }
  100% {
    checked: false;
  }
}

@keyframes animate-dot4 {
  0% {
    checked: false;
  }
  20% {
    checked: false;
  }
  40% {
    checked: false;
  }
  60% {
    checked: true;
  }
  80% {
    checked: false;
  }
  100% {
    checked: false;
  }
}

@keyframes animate-dot5 {
  0% {
    checked: false;
  }
  20% {
    checked: false;
  }
  40% {
    checked: false;
  }
  60% {
    checked: false;
  }
  80% {
    checked: true;
  }
  100% {
    checked: false;
  }
}

/*Work page */
.works {
  grid-column: 1/ -1;
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: row dense;
  gap: 1rem;
}

.works img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5rem double #dd5350;
}

.img-video-container {
  border-radius: 2rem;
}

.img-video-container img {
  border-radius: 2rem;
}

.img-video-container:hover img {
  cursor: zoom-in;
  transform: scale(2);
  object-fit: contain;
}

.img-video-container:hover {
  z-index: 300;
}

.works:hover > .img-video-container:not(:hover) {
  filter: blur(10px);
}

/*About page*/
.about {
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 1rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.about-left {
  column-count: 2;
}

.about-right {
  display: flex;
  flex-direction: column;
}

.img-butterfly {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1rem solid #dd5350;
}

.img-mypic {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1rem solid #dd5350;
}

.about-para1,
.about-para2 {
  padding: 1rem;
  font-family: Roboto-Regular;
  font-size: large;
  color: white;
  background-color: #dd5350;
  border-radius: 1rem;
}

.video-container {
  margin: 2rem 4rem 3rem 4rem;
  border-radius: 2rem;
  background-color: black;
}

.video-container:hover video {
  opacity: 0.6;
}

video {
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem 1rem black;
  transition: opacity 1s;
}

.explanation-work {
  font-family: Roboto-Medium;
  margin: 1rem;
}

.all-colors-text {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*CSS for tablets */
.btn-contact-handheld:visited,
.btn-work-handheld:visited {
  color: black;
}

.header-handheld {
  height: 4.3rem;
  grid-column: 1/ -1;
  display: none;
  position: relative;
  position: sticky;
  background-color: #fdde8a;
  top: 0;
  left: 0;
  transition: height 1s;
  z-index: 300;
}

.btn-work-handheld,
.btn-contact-handheld {
  border-bottom: 0.3rem solid #dd5350;
  color: black;
  padding: 0.9rem 2.7rem 0.9rem 2.7rem;
  border-radius: 0.2rem;
  font: 0.7rem "Fira Sans", sans-serif;
  transition: background-color 1s;
  top: 0.5rem;
  font-size: large;
  position: absolute;
}

.btn-work-handheld {
  left: 0;
  margin-left: 2rem;
  margin-right: 1rem;
}

.btn-contact-handheld {
  left: 13rem;
}

.btn-work-handheld:hover,
.btn-contact-handheld:hover {
  background-color: #dd5350;
  color: white !important;
}

/*Footer CSS */
.footer {
  grid-column: 1/ -1;
  height: 4.8rem;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #fdde8a;
  display: none;
}

.btn-home-footer {
  margin-right: 2rem;
}

.btn-home-footer:hover .fa-home,
.btn-about-footer:hover .fa-user-circle {
  color: white;
}

@media (max-width: 960px) {
  .header,
  .btn-contactus {
    display: none;
  }

  .header-handheld {
    display: block;
  }

  .footer {
    display: flex;
  }

  .content,
  .work {
    margin: 0 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  video {
    height: 350px;
  }

  .explanation-work {
    margin-top: 0;
  }

  .about {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 0.5rem;
  }

  .about-left {
    column-count: 1;
  }

  label {
    text-align: left !important;
  }

  .works {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    margin: 0 1rem;
  }
}

/*CSS for mobiles */
.btn-menu,
.btn-home-drop,
.btn-work-drop,
.btn-contact-drop,
.btn-about-drop {
  display: none;
  margin-bottom: 0.8rem;
  color: white !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
  font: 1rem "Fira Sans", sans-serif;
  transition: background-color 1s;
}

.fa-bars {
  color: white;
}

.btn-home-drop:hover,
.btn-work-drop:hover,
.btn-contact-drop:hover,
.btn-about-drop:hover {
  border-left: 1rem solid #dd5350;
  background-color: #dd5350;
}

@media (max-width: 390px) {
  .btn-work-handheld,
  .btn-contact-handheld,
  .footer {
    display: none;
  }

  .header-handheld {
    display: flex;
    flex-direction: column;
  }

  .btn-menu {
    display: block;
  }

  .header-handheld:hover {
    height: 20.5rem;
  }

  .header-handheld:hover .btn-home-drop,
  .header-handheld:hover .btn-work-drop,
  .header-handheld:hover .btn-contact-drop,
  .header-handheld:hover .btn-about-drop {
    display: block;
  }

  .content,
  .work {
    flex-wrap: wrap;
    margin: 0 0.2rem;
  }

  .works {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }

  .vlarge-text {
    font-size: 2rem;
  }

  .large-text {
    font-size: 1rem;
  }

  video {
    height: 250px;
    box-shadow: none;
  }

  .explanation-work {
    margin-top: 0;
  }

  .video-container {
    margin-bottom: 1rem;
  }

  .about {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
    margin: 0.2rem;
  }

  .about-left {
    column-count: 1 !important;
  }

  #msg {
    height: 8rem !important;
  }

  #name,
  #mail,
  #msg,
  button {
    width: 18rem !important;
  }
}

/*Contact Page*/
.fa-heart {
  color: #dd5350;
}

.heart1 {
  left: 10%;
  position: absolute;
  animation: heart-animation 10s steps(5, jump-start) 1s infinite;
}

.heart2 {
  left: 20%;
  position: absolute;
  animation: heart-animation 25s steps(5, jump-start) 5s infinite;
}

.heart3 {
  left: 30%;
  position: absolute;
  animation: heart-animation 5s steps(5, jump-start) 0s infinite;
}

.heart4 {
  left: 75%;
  position: absolute;
  animation: heart-animation 20s steps(5, jump-start) 3s infinite;
}

.heart5 {
  left: 90%;
  position: absolute;
  animation: heart-animation 15s steps(5, jump-start) 2s infinite;
}

@keyframes heart-animation {
  0% {
    top: -10%;
  }
  25% {
    top: 25%;
    transform: rotateY(180deg);
  }
  50% {
    top: 50%;
    transform: rotateY(45deg);
  }
  75% {
    top: 75%;
    transform: rotateZ(-30deg);
  }
  100% {
    top: 100%;
    transform: rotateY(180deg);
  }
}

.contact {
  grid-column: 1/ -1;
  margin: 2rem;
  justify-self: center;
  display: flex;
}

form {
  grid-column: 1/ -1;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}

label {
  margin-right: auto;
  font: 1rem Roboto-Regular;
  margin-bottom: 0.5rem;
}

#name,
#mail,
#msg {
  border: none;
  margin-bottom: 1.5rem;
  font: 1rem Roboto-Regular;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 22rem;
}

#msg {
  height: 13rem;
}

button {
  padding: 0.8rem 1rem;
  background-color: #fdde8a;
  border-style: none;
  border-radius: 0.2rem;
  width: 22rem;
}

button:hover {
  background-color: #dd5350;
  color: white;
}
