* {
  box-sizing: border-box;
}

@font-face {
  font-family: Zen;
  src: url(../fonts/ZenAntiqueSoft-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  display: block;
}

.container {
  display: grid;
  margin: 0;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  background: no-repeat center/90% url(../images/background.xcf),
    url(../images/background.png);
}

/*Header CSS */
.header {
  height: 4.4rem;
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem 1rem;
}

.emoji {
  transform-origin: center bottom;
  animation: emoji-move 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.emoji:hover {
  animation: none;
}

@keyframes emoji-move {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.btn-home,
.btn-work,
.btn-contact {
  color: black;
  margin-right: 0.3rem;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 0.2rem;
  background-color: #fdde8a;
  font: 0.9rem "Fira Sans", sans-serif;
  transition: background-color 1s;
  font-family: Roboto;
}

.btn-home:hover,
.btn-work:hover,
.btn-contact:hover {
  background-color: #dd5350;
  color: white;
}

.btn-fb,
.btn-insta {
  margin-right: 1rem;
}

/*Main content CSS*/
.content {
  grid-column: 1/ -1;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
}

.div-intro-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60rem;
}

.work {
  grid-column: 1/ -1;
  margin: auto 2rem;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
}

.img-video-container {
  margin: 2rem 6rem 2rem 4rem;
  border-radius: 2rem;
}

video {
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem 1rem black;
}

.explanation-work {
  font-family: Roboto;
  margin-right: 4rem;
}

.heading {
  font-size: 4rem;
  font-family: Zen;
}

.sub-heading {
  font-size: 1.5rem;
  font-family: Roboto-Regular;
}

.btn-contactus {
  color: white;
  background-color: #dd5350;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.2rem;
}

.btn-contactus:visited {
  color: white;
}

.btn-contactus:hover {
  background-color: #7c8453;
}

/*CSS for tablets */
.btn-contact-handheld:visited,
.btn-work-handheld:visited {
  color: black;
}

.header-handheld {
  height: 4.8rem;
  grid-column: 1/ -1;
  display: none;
  position: relative;
  margin-bottom: 2rem;
  position: sticky;
  background-color: #fdde8a;
  top: 0;
  left: 0;
  transition: height 1s;
}

.btn-work-handheld,
.btn-contact-handheld {
  border-bottom: 0.3rem solid #dd5350;
  color: black;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-radius: 0.2rem;
  font: 0.7rem "Fira Sans", sans-serif;
  transition: background-color 1s;
  top: 0;
  font-size: large;
  position: absolute;
}

.btn-work-handheld {
  left: 0;
  margin-left: 2rem;
  margin-right: 1rem;
}

.btn-contact-handheld {
  left: 13rem;
}

.btn-work-handheld:hover,
.btn-contact-handheld:hover {
  background-color: #dd5350;
  color: white;
}

/*Footer CSS */
.footer {
  grid-column: 1/ -1;
  height: 4.8rem;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #fdde8a;
  display: none;
}

.btn-home-footer {
  margin-right: 2rem;
}

.btn-home-footer:hover .fa-home,
.btn-about-footer:hover .fa-user-circle {
  color: white;
}

@media (max-width: 960px) {
  .header-start,
  .header-middle,
  .header-end,
  .btn-contactus {
    display: none;
  }

  .header-handheld {
    display: block;
  }

  .footer {
    display: flex;
  }

  .content {
    flex-wrap: wrap;
  }
}

/*CSS for mobiles */
.btn-menu,
.btn-home-drop,
.btn-work-drop,
.btn-contact-drop,
.btn-about-drop {
  display: none;
  margin-bottom: 0.8rem;
  color: white !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
  font: 1rem "Fira Sans", sans-serif;
  transition: background-color 1s;
}

.fa-bars {
  color: white;
}

.btn-home-drop:hover,
.btn-work-drop:hover,
.btn-contact-drop:hover,
.btn-about-drop:hover {
  border-left: 1rem solid #dd5350;
  background-color: #dd5350;
}

@media (max-width: 390px) {
  .btn-work-handheld,
  .btn-contact-handheld,
  .footer {
    display: none;
  }

  .header-handheld {
    display: flex;
    flex-direction: column;
  }

  .btn-menu {
    display: block;
  }

  .header-handheld:hover {
    height: 20.5rem;
  }

  .header-handheld:hover .btn-home-drop,
  .header-handheld:hover .btn-work-drop,
  .header-handheld:hover .btn-contact-drop,
  .header-handheld:hover .btn-about-drop {
    display: block;
  }

  .content {
    flex-wrap: wrap;
  }

  .heading {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1rem;
  }
}
