* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  background: no-repeat center/90% url(../images/background.png),
    url(../images/background.png);
}

/*Header CSS */
.header {
  height: 10.12rem;
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6.9rem;
  margin-top: 4.6rem;
  margin-bottom: 6.9rem;
}

.header-start {
  margin-left: 6.9rem;
}

.emoji {
  transform-origin: center bottom;
  animation: emoji-move 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes emoji-move {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.btn-home,
.btn-work,
.btn-contact {
  color: black;
  margin-right: 0.69rem;
  padding-left: 6.9rem;
  padding-right: 6.9rem;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  border-radius: 0.69rem;
  background-color: #fdde8a;
  font: 2.07rem "Fira Sans", sans-serif;
  transition: background-color 1s;
}

.btn-home:hover,
.btn-work:hover,
.btn-contact:hover {
  background-color: #dd5350;
  color: white;
}

.btn-fb,
.btn-insta {
  margin-right: 2.3rem;
}

.btn-insta {
  margin-left: auto;
}

/*Main content CSS*/
.content {
  grid-column: 1/ -1;
  display: flex;
  margin-left: 6.9rem;
  justify-content: center;
  align-items: center;
}

.image-avatar {
  width: 69rem;
}

.div-heading {
  width: 161rem;
}

.heading {
  font-size: 9.2rem;
}

.sub-heading {
  font-size: 3.45rem;
}

.btn-contactus {
  color: white;
  background-color: #dd5350;
  padding-left: 6.9rem;
  padding-right: 6.9rem;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  border-radius: 0.46rem;
}

.btn-contactus:visited {
  color: white;
}

.btn-contactus:hover {
  background-color: #7c8453;
}

/*CSS for tablets */
.btn-contact-handheld:visited,
.btn-work-handheld:visited {
  color: black;
}

.header-handheld {
  height: 11.04rem;
  grid-column: 1/ -1;
  display: none;
  position: relative;
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;
  position: sticky;
  background-color: #fdde8a;
  top: 0;
  left: 0;
}

.btn-work-handheld,
.btn-contact-handheld {
  border-bottom: 0.69rem solid #dd5350;
  color: black;
  padding-left: 4.37rem;
  padding-right: 4.37rem;
  padding-top: 2.07rem;
  padding-bottom: 2.07rem;
  border-radius: 0.46rem;
  font: 1.61rem "Fira Sans", sans-serif;
  transition: background-color 1s;
  top: 0;
  font-size: large;
  position: absolute;
}

.btn-work-handheld {
  left: 0;
  margin-left: 4.6rem;
  margin-right: 2.3rem;
}

.btn-contact-handheld {
  left: 25.3rem;
}

.btn-work-handheld:hover,
.btn-contact-handheld:hover {
  background-color: #dd5350;
  color: white;
}

/*Footer CSS */
.footer {
  grid-column: 1/ -1;
  width: 100%;
  height: 11.04rem;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #fdde8a;
  display: none;
}

.btn-home-footer {
  margin-right: 1rem;
}

.btn-home-footer:hover .fa-home,
.btn-about-footer:hover .fa-user-circle {
  color: white;
}

@media (max-width: 960px) {
  .header-start,
  .header-middle,
  .header-end,
  .btn-contactus {
    display: none;
  }

  .header-handheld {
    display: block;
  }

  .footer {
    display: flex;
  }

  .content {
    flex-wrap: wrap;
  }
}

/*CSS for mobiles */
@media (max-width: 320px) {
}
